<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebApp1</display-name>
  <welcome-file-list>
    <welcome-file>RegisterForm.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Form</display-name>
    <servlet-name>Form</servlet-name>
    <servlet-class>p1.Form</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form</servlet-name>
    <url-pattern>/Form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Form2</display-name>
    <servlet-name>Form2</servlet-name>
    <servlet-class>p1.Form2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form2</servlet-name>
    <url-pattern>/Form2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConfig1</display-name>
    <servlet-name>ServletConfig1</servlet-name>
    <servlet-class>p1.ServletConfig1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfig1</servlet-name>
    <url-pattern>/ServletConfig1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContext1</display-name>
    <servlet-name>ServletContext1</servlet-name>
    <servlet-class>p1.ServletContext1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContext1</servlet-name>
    <url-pattern>/ServletContext1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContext2</display-name>
    <servlet-name>ServletContext2</servlet-name>
    <servlet-class>p1.ServletContext2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContext2</servlet-name>
    <url-pattern>/ServletContext2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContext3</display-name>
    <servlet-name>ServletContext3</servlet-name>
    <servlet-class>p1.ServletContext3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContext3</servlet-name>
    <url-pattern>/ServletContext3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDB</display-name>
    <servlet-name>ServletDB</servlet-name>
    <servlet-class>p1.ServletDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDB</servlet-name>
    <url-pattern>/ServletDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UrlServlet1</display-name>
    <servlet-name>UrlServlet1</servlet-name>
    <servlet-class>p1.UrlServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlServlet1</servlet-name>
    <url-pattern>/UrlServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UrlServlet2</display-name>
    <servlet-name>UrlServlet2</servlet-name>
    <servlet-class>p1.UrlServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlServlet2</servlet-name>
    <url-pattern>/UrlServlet2</url-pattern>
  </servlet-mapping>
</web-app>